*
!*/
__pycache__

!.gitignore
!README.md

!__init__.py
!admin.py
!apps.py
!context_processors.py
!forms.py
!home_context_builder.py
!models.py
!services.py
!tests.py
!urls.py
!views.py
!requirements.txt

!api/templates/api/*
!/templates/*

!/static/scripts/*
!/static/styles/*
