<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/navbar.js' %}"></script>
    <script src="{% static 'scripts/djangoMessagesModal.js' %}"></script>
    <title>Nutrition Fitness Tracker</title>
</head>
<body>
    {% if not hide_sidebar %}
        {% include 'navbar.html' %}
        {% load static %}
        <a class="close_navbar"><img class="menu_img" src="{% static 'images/menu.png' %}"></a>
    {% endif %}

    {% if messages or lockout_message %}
    <script id="django_messages" type="application/json">
        [
            {% for message in messages %}
                {"text": "{{ message }}", "tags": "{{ message.tags }}"}{% if not forloop.last or lockout_message %},{% endif %}
            {% endfor %}
            {% if lockout_message %}
                {"text": "{{ lockout_message }}", "tags": "error"}
            {% endif %}
        ]
    </script>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>